{% extends 'shop/base.html' %}

{% block content %}
    {% if products %}
    {% for product in products %}
    <div class="card" style="width: 30rem; background-color: rgb(215, 240, 240);">
        <img src="{{ product.img.url }}" class="card-img-top" height="300" alt="No image">
        <div class="card-body">
            <h1 class="card-title">{{ product.name }}</h1>
            <p class="card-text">
                <ul>
                    <li><strong>Prise:</strong> {{ product.price }}$ <br></li>
                    <li><strong>Cast:</strong> {{ product.cast }}</li>
                    <li><strong>Time:</strong> {{ product.time }}</li>
                    <li><strong>Description:</strong> {{ product.description }}</li>
                </ul>
            </p>
            <p>
            <a href="{% url 'shop:detail' product_id=product.id %}" class="btn btn-info">More information</a>
            <a href="#" class="btn btn-success">BUY</a>
            </p>
        </div>
    </div>
    <br>
    {% endfor %}
    {% if page_obj.has_other_pages %}
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% for page in paginator.page_range %}
                {% if page_obj.number == page %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page }}" onclick="return false">this page {{ page }}</a>
                </li>
                {% elif page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 or page == paginator.count or page == 1%}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
    {% else %}
    <h1>We sorry, but there is no products yet</h1>
    {% endif %}
{% endblock content %}

            {% for page in paginator.page_range %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page }}">{{ page }}</a>
            </li>
            {% endfor %}