{% extends 'shop/base.html' %}

{% block content %}
    {% if products %}
    {% for product in products %}
    <div class="card" style="width: 30rem; background-color: rgb(215, 240, 240);">
        <img src="{{ product.img.url }}" class="card-img-top" height="300" alt="No image">
        <div class="card-body">
            <h1 class="card-title">{{ product.name }}</h1>
            <p class="card-text">
                <ul>
                    <li><strong>Prise:</strong> {{ product.price }}$ <br></li>
                    <li><strong>Cast:</strong> {{ product.cast }}</li>
                    <li><strong>Time:</strong> {{ product.time }}</li>
                    <li><strong>Description:</strong> {{ product.description }}</li>
                </ul>
            </p>
            <a href="{% url 'shop:detail' product_id=product.id %}" class="btn btn-primary">More
                information</a>
        </div>
    </div>
    <br>
    {% endfor %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
            {% if page.previous_page_number != 1 %}
            <li class="page-item"><a class="page-link"
                                     href="?page={{ page.previous_page_number }}">Previous</a></li>
            <li class="page-item"><a class="page-link" href="">...</a></li>
            {% endif %}
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page={{ page.number }}">this page({{ page.number }})</a></li>
            {% if page.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
            </li>
            {% if page.next_page_number != page.paginator.num_pages %}
            <li class="page-item"><a class="page-link" href="">...</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}">Last</a>
            </li>
            {% endif %}
            {% endif %}
        </ul>
    </nav>
    {% else %}
    <h1>We sorry, but there is no products yet</h1>
    {% endif %}
{% endblock content %}